*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
.sidebar2{
  float:left;
  width:20em;
  height:37em;
  background-color: white;
  margin-left: 5px;
  margin-top: 15px;
}
.side{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.beside{
  margin: 10px;
}
.teams{
  font-weight:400;
}

